<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Inicio</servlet-name>
        <servlet-class>controlador.Inicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>controlador.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Newsletter</servlet-name>
        <servlet-class>controlador.Newsletter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCuenta</servlet-name>
        <servlet-class>controlador.CrearCuenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inicio</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/iniciar_sesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Newsletter</servlet-name>
        <url-pattern>/newsletter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCuenta</servlet-name>
        <url-pattern>/crear_cuenta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
